@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  display: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  margin-bottom: 100px;
  background-color: #263038;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: inline-block;
}
.site-header {
  background-color: black;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.form {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.titleInput {
  outline: none;
  border: none;
  padding: 10px 17px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.emailInput {
  outline: none;
  border: none;
  padding: 10px 17px;
  border-radius: 25px;
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.addBtn {
  border: none;
  background-color: white;
  margin-left: 17px;
  padding: 8px 13px;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #2ecc71;
}
.hero__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 35px;
  padding-top: 130px;
  color: white;
}
.card__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 55px;
  margin-top: 55px;
  justify-content: space-evenly;
}
.card__item {
  max-width: 300px;
  padding: 17px;
  border-radius: 17px;
  text-align: center;
  border: 1px solid white;
}
.card__title {
  padding-bottom: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 23px;
}
.card__email {
  padding-bottom: 17px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 23px;
}
.card__img img {
  max-width: 170px;
  text-align: center;
}
.active {
  background-color: black;
  color: white;
}
.pagination__wrapper {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 130px;
}
.pagination__wrapper-btn {
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 7px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 55px;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

@media only screen and (max-width: 557px) {
  .addBtn {
    margin-top: 15px;
    margin-left: 23px;
  }
  .form {
    text-align: left;
  }
  .titleInput {
    margin-left: 20px;
  }
  .hero__title {
    padding-top: 170px;
  }
}
@media screen and (max-width: 356px) {
  .emailInput {
    margin-top: 15px;
  }
  .hero__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 355.5px) {
  .hero__title {
    padding-top: 220px;
  }
}
